body {
	padding-left: 15px;
	padding-right: 15px;
}

h2 {
	text-transform: capitalize;
}

h2 span {
	font-size: 12px;
}

ul {
	padding-top: 15px;
	clear: left;
}

a:hover {
	cursor: pointer;
}

.tile {
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	background-size: cover;
/*	border: solid 1px black;*/
	position: absolute;
/*	box-shadow: inset -1px -1px 2px 0px rgba(127,127,127,1);*/
}

.tile:hover {
	cursor: pointer;
}

.shift .tile:hover {
	cursor: alias;
}

#verandah {
	width: 100%;
	position: relative;
}

#path {
	width: 420px;
	height: 80px;
	position: relative;
}

#courtyard {
	width: 420px;
	height: 80px;
	position: relative;
}

div.curved {
	background-image: url("curved.png");
}
div.curved.outline {
	background-image: url("curved.svg");	
}

div.straight {
	background-image: url("straight.png");
}
div.straight.outline {
	background-image: url("straight.svg");	
}

div.lotus {
	background-image: url("lotus.png");
}
div.lotus.outline {
	background-image: url("lotus.svg");	
}

div.ripple {
	background-image: url("ripples.png");
}
div.ripple.outline {
	background-image: url("ripples.svg");	
}

#data {
	width: 100%;
	height: 200px;
}
